<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new</title>
    <link rel="stylesheet" href="styles/new.css" />
    <link rel="stylesheet" href="styles/reserveren.css" />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <script src="scripts/new.js" defer></script>
  </head>

  <body>
    <div class="navbar">
      <div class="container flex-nav">
        <div class="nav-header">
          <div class="logo">
            <img src="images/oba_logo_kort_roodh.jpeg" alt="oba logo" />
          </div>

          <p class="subtitle1">mijn bibliotheek</p>

          <p class="subtitle2">welkom [naam lid]</p>
          <div class="header-container">
            <button class="nav-toggle" id="navToggle">
              <i class="fas fa-bars"></i>
            </button>

            <nav class="nav-links" id="nav-links">
              <ul>
                <li class="nav-link"><a href="/boeken">boeken</a></li>
      
                <li class="nav-link"><a href="/activiteiten">activiteiten</a></li>
               
                <li class="nav-link"><a href="/cursussen">cursussen</a></li>
                <li class="nav-link"><a href="/reserveren">reserveren</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div id="search-container">
      <input type="text" id="search-bar" placeholder="zoek..." />
      <img
        src="images/search-icon-png-9969.png"
        alt="Search icon"
        id="search-icon"
      />
    </div>
 

    </div>

   
  </div>









 
