@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

@font-face {
    font-family: 'avenir_lt_std95_black';
    src: url('../assets/fonts/avenir/avenirltstd-black-webfont.woff2') format('woff2'),
        url('../assets/fonts/avenir/avenirltstd-black-webfont.woff') format('woff');
    font-weight: heavy;
    font-style: normal;
}




@font-face {
    font-family: 'avenir_lt_std45_book';
    src: url('../assets/fonts/avenir/avenirltstd-book-webfont.woff2') format('woff2'),
        url('../assets/fonts/avenir/avenirltstd-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'avenir_lt_std55_roman';
    src: url('../assets/fonts/avenir/avenirltstd-roman-webfont.woff2') format('woff2'),
        url('../assets/fonts/avenir/avenirltstd-roman-webfont.woff') format('woff');
    font-weight: light;
    font-style: normal;
}













* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




body {
    margin: 2rem;
    padding: 0;
    font-family: avenir_lt_std95_black;
    font-size: 1.5rem;


}

/*navabar*/
.logo img {

    align-items: left;
    position: relative;
    max-width: 100px;
    max-height: 100px;


}


.nav-link {
    list-style: none;
    float: center;
    margin-left: 60px;

    border-bottom: 2px solid rgb(66, 65, 65);
    width: 5rem;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 800;

    text-decoration: none;

}



.navbar {
    background: white;
    position: relative;
    width: 100%;
    align-items: center;
    margin: 0 auto;

}


.flex-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.nav-header,
.subtitle {
    color: black;
    text-align: left;
    max-width: 1100px;
    margin-left: 5%;
    align-items: center;
    margin: 0 auto;





}

.subtitle2 {
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(71, 70, 70);
    font-family: avenir_lt_std55_roman;
}

.subtitle1 {
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(206, 199, 199);
    font-family: avenir_lt_std55_roman;
}




.nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-toggle {

    background: transparent;
    border: transparent;
    color: tomato;
    justify-content: space-between;

    font-size: 1.5rem;
    cursor: pointer;
}


.card-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 40px;

}


a {
    color: rgb(71, 70, 70);
    text-decoration: none;
}





.nav-links {



    margin: 0 auto;
    height: 0;
    overflow: hidden;
    display: flex;



}

.nav-open {
    height: 50vh;

}







/* CSS om de navigatiebalk op te maken */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 100px;
    padding: 0 20px;
    margin: 0 auto;
}

.logo-img {
    align-items: left;
    position: relative;
    margin-right: 50%;
    min-width: 10%;
    max-height: 100%;


}

.navbar .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .menu li {
    margin: 0 10px;
}

.navbar .menu a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbar .menu a:hover {
    color: rgb(0, 0, 0);
}















.container-form {
    background-color: rgb(243, 243, 243);



}


label {
    font-size: 1rem;
    font-weight: lighter;
    color: rgb(83, 83, 83);

}



.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 50px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%;
    background-color: #ffffff;
    box-shadow: -10px 10px 10px 10px rgb(238, 237, 237);
}

.question h2 {
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(151, 151, 151);
    text-align: center;

}

.question textarea {
    width: 100%;
    height: 100px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.question button[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #aaaaaa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.question button[type="button"] {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #aaaaaa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*media queries*/


/*media queries logo*/


@media only screen and (max-width: 600px) {
    .logo img {
        width: 75%;
        height: 75%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 960px) {
    .logo img {
        width: 50%;
        height: 50%;
    }
}

@media only screen and (min-width: 961px) {
    .logo img {
        width: 25%;
        height: 25%;
    }
}








@media only screen and (min-width: 600px) {
    .nav-toggle {
        display: none;
        height: auto;

    }

    .nav-header {

        display: block;
    }



    .flex-nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px;
    }



    ul {
        text-align: center;
    }


    .nav-link {
        height: auto;
        flex-direction: row;
        border-bottom: none;
        display: inline-block;
    }


    ul {
        text-align: center;

    }




    .nav-links {
        background: rgb (220, 220, 220);
        padding: 8px 15px;
        border-radius: 4px;
        height: auto;
        text-align: center;

    }
}